@import url('https://fonts.googleapis.com/css2?family=YourKikoFont&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'YourKikoFont', sans-serif; /* Utiliser la police Kiko */
}

/* Styles pour la barre de navigation */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff; /* Couleur de fond de la barre de navigation */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s;
}

.nav-hidden {
  top: -100px;
}

nav h1 {
  font-size: 20px;
}

nav .onglets {
  display: flex;
  flex-wrap: wrap;
}

nav .onglets p {
  font-size: 17px;
  margin-right: 10px;
  cursor: pointer;
}

nav .onglets input {
  margin: 8px 20px;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background-color: #f2f2f2;
  outline: none;
}

/* Styles pour la vidéo en arrière-plan */
.background-video {
  position: relative; /* Modifier la position en relative */
  width: 100%;
  height: 100vh; /* Utiliser la hauteur de la vue */
  object-fit: cover;
  z-index: -1;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* Styles pour les sections */
section {
  padding: 50px 0;
}

section h2 {
  text-align: center;
}

/* Styles pour les grilles de produits, saisons et catégories */
.best-sellers-grid,
.seasons-grid,
.top-categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}

/* Styles pour les cartes de produits, saisons et catégories */
.product-card,
.season-card,
.category-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
}

.product-card img,
.season-card img,
.category-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info,
.season-info,
.category-info {
  padding: 20px;
}

/* Styles pour les boutons */
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d81b60;
}

/* Styles pour le pied de page */
footer {
  background-color: black;
  color: white;
  padding: 20px;
  width: 100%;
  bottom: 0;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media p {
  margin: 0 10px;
}

/* Media query pour les écrans plus petits */
@media screen and (max-width: 640px) {
  nav .onglets .link,
  nav h1 {
    display: none;
  }
}



